body {
  background: #eee;
  margin: 1rem;
  font-family: monospace;
}

.App {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

#editor,
#preview {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  height: 95vh;
  width: auto;
  max-width: 50vw;
}
